# APP
APP_NAME="example"
APP_VERSION="0.1.0"
APP_ENV="local" # local | development | production | etc.

# PYTHON
PYTHONPATH="src" # For autocomplete use `python -m venv venv_<APP_ENV>`

# DOCKER
DOCKER_USERNAME="username"
DOCKER_APP_NAME="${APP_NAME}-${APP_ENV}"

# DJANGO
DJANGO_SETTINGS_MODULE="config.settings.local"
DJANGO_SECRET_KEY="secret"
DJANGO_PORT=8000
DJANGO_DEBUG=True
# For first creation, set DJANGO_SUPERUSER_EMAIL empty ("") if don't want to use
DJANGO_SUPERUSER_EMAIL="admin@site.com"
DJANGO_SUPERUSER_PASSWORD="admin"